attrs==19.3.0
aws-cdk.aws-cloudwatch==1.56.0
aws-cdk.aws-ec2==1.56.0
aws-cdk.aws-events==1.56.0
aws-cdk.aws-iam==1.56.0
aws-cdk.aws-kms==1.56.0
aws-cdk.aws-logs==1.56.0
aws-cdk.aws-s3==1.56.0
aws-cdk.aws-ssm==1.56.0
aws-cdk.cloud-assembly-schema==1.56.0
aws-cdk.core==1.56.0
aws-cdk.cx-api==1.56.0
aws-cdk.region-info==1.56.0
boto==2.49.0
cattrs==1.0.0
certifi==2020.6.20
chardet==3.0.4
constructs==3.0.4
dnspython==2.0.0
ec2==0.4.0
idna==2.10
jsii==1.9.0
publication==0.0.3
pymongo==3.11.0
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
typing-extensions==3.7.4.2
urllib3==1.25.10
